# Default ignored files
/../../../../REDESN~1/TRABAJ~1/SkyVoiceNet/.idea/shelf/
/../../../../REDESN~1/TRABAJ~1/SkyVoiceNet/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../REDESN~1/TRABAJ~1/SkyVoiceNet/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../REDESN~1/TRABAJ~1/SkyVoiceNet/.idea/dataSources/
/../../../../REDESN~1/TRABAJ~1/SkyVoiceNet/.idea/dataSources.local.xml
